name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ["9.0", "8.0", "7.0", "6.0"]

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v4.3.0
      with:
        dotnet-version:  |
          6.0.x
          7.0.x
          8.0.x
          9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --framework net${{ matrix.dotnet-version }} --no-restore
    - name: Test
      run: dotnet test --framework net${{ matrix.dotnet-version }} --no-build --verbosity normal
